<div>

  <form [formGroup]="loginForm" (ngSubmit)="login()" [@hideForm]="loggedIn ? true : false" [@shrinkForm]="formHidden ? true : false">

    <div [ngClass]="{ 'has-error' : isSubmitted && formControls.email.errors }">
      <input type="email" placeholder="Email" formControlName="email" (blur)="emailCheck()">
    </div>

    <div [ngClass]="{ 'has-error' : isSubmitted && formControls.password.errors }">
      <input type="password" placeholder="Password" formControlName="password" (blur)="passwordCheck()">
    </div>

    <div>
      <input type="submit" value="Login" (click)=loginSumission()>
    </div>

    <button class='route-button-active' (click)="loginAnonymously()">
      Anonymous
    </button>

    <br/>

    <div class="rectangle" [@lineFill]="emailEntered ? true : false"></div>
    <span class="dot" [@dotFill]="emailEntered ? true : false"></span>
    <div class="short-rectangle"[@lineFill]="passwordEntered ? true : false"></div>
    <span class="dot" [@dotFill]="passwordEntered ? true : false"></span>
    <div class="short-rectangle" [@lineFill]="formSubmitted ? true : false"></div>
    <span class="dot" [@dotFill]="formSubmitted ? true : false"></span>

  </form>

</div>
