.nav-div {
  text-align: center;
}

.logo-img {
  height: 100px;
  width: 100px;
  display: inline-block;
  float: left;
  margin: 25px;
}

.hamburger-container {
  height: 75px;
  width: 75px;
  display: none;
  float: left;
}

.hamburger-icon {
  height: 75px;
  width: 75px;
  display: none;
  font-size: 50px;
  cursor: pointer;
}

.title-text {
  display: inline-block;
  margin: 27.5px 0px;
}

.router-link-text {
  margin: 10px;
}

.side-bar-mobile-padding {
  padding: 10px;
}

.sidenav {
  height: calc(100vh - 75px);
  width: 0%;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #64253d;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  transition: 0.5s;
  /* padding-top: 75px; */
  text-align: center;
}

.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: azure;
  display: block;
  transition: 0.3s;
  margin-bottom: 10px;
}

.sidenav a:hover{
  color: azure;
}

/* .sidenav .closebtn {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 36px;
  margin-right: 50px;
} */

.close-text {
  margin: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 600px) {

  .hamburger-container {
    display: block;
  }

  .hamburger-icon {
    display: block;
  }

  .logo-img {
    display: none;
  }
  
  .title-text {
    height: 75px;
    line-height: 75px;
    font-size: 35px;
    margin: 0px;
  }

  .router-link-text {
    display: none;
  }
  
}