.nav-div {
  text-align: center;
}

.logo-img {
  height: 100px;
  width: 100px;
  display: inline-block;
  float: left;
  margin: 25px;
}

.hamburger-container {
  height: 75px;
  width: 75px;
  display: none;
  float: left;
}

.hamburger-icon {
  display: none;
  font-size: 50px;
  cursor: pointer;
}

.title-text {
  display: inline-block;
  margin: 27.5px 0px;
}

.router-link-text {
  margin: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.close-text {
  margin: 0px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 600px) {

  .hamburger-container {
    display: block;
  }

  .hamburger-icon {
    display: block;
  }

  .logo-img {
    display: none;
  }
  
  .title-text {
    font-size: 35px;
    margin: 10px 0px;
  }

  .router-link-text {
    display: none;
  }
  
}