<div class="nav-div">

  <div class="hamburger-container">
    <span class="hamburger-icon" (click)="openCloseNav()">&#9776;</span>
  </div>

  <img class="logo-img" [src]="logo" (click)="navigateHome()">

  <!-- <h1 style="display: inline-block; margin: 0px;" appChangeText>{{title}}!</h1> -->
  <h1 class="title-text">{{title}}!</h1>

  <h5 class="router-link-text">
    <a *ngFor="let routeLink of routesLinks" routerLink="{{routeLink.link}}">
      {{routeLink.name}}
    </a>
  </h5>

  <div id="side-bar-mobile" class="sidenav">
    <div class="side-bar-mobile-padding">
      <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
      <app-sidebar-routes [routes]="routes"></app-sidebar-routes>
      <a *ngFor="let routeLink of routesLinks" routerLink="{{routeLink.link}}">
        {{routeLink.name}}
      </a>
    </div>
  </div>

</div>
