<div style="text-align: center">
  <h5 style="margin: 0px;">{{fname | uppercase}}</h5>
  <h5 style="margin: 0px;">{{lname | lowercase}}</h5>
  <h5 style="margin: 0px;">{{fname | stringReversal | uppercase}}</h5>
  <h5 style="margin: 0px;">{{lname | stringReversal | lowercase}}</h5>
  <h6 style="margin: 0px;">{{ph}}</h6>
  <h6 style="margin: 0px;">{{bank | currency: 'INR':'symbol'}}</h6>
  <h6 style="margin: 0px;">{{rating | number: '3.4-4'}}</h6>
  <!-- <h6 style="margin: 0px;">{{info | json}}</h6> -->
  <h6 style="margin: 0px;">{{00.54565 | percent}}</h6>
  <h6 style="margin: 0px;">{{months | slice:2:6}}</h6>
  <h6 style="margin: 0px;">45.6 floor -> {{45.6 | floor}}</h6>
</div>
