.nav-div {
  background-color: #551e33;
  padding: 10px;
  text-align: center;
}

.logo-img {
  max-height: 100px;
  max-width: 100px;
  display: inline-block;
  float: left;
  margin: 27.5px;
}

.title-text {
  display: inline-block;
  margin: 27.5px 0px;
}

.router-link-text {
  margin: 16px;
}
