<div style="padding: 10px;text-align: center;">

  <img [src]="logo"
    style="max-height: 100px; max-width: 100px; display: inline-block; float: left; margin-left: 12.5px;">
  <!-- <h1 style="display: inline-block; margin: 0px;" appChangeText>{{title}}!</h1> -->
  <h1 style="display: inline-block; margin: 0px;">{{title}}!</h1>
  <h5 style="margin: 16px;"><a routerLink="component1/6/9">Widgets</a><a routerLink="component2">ToDo</a><a
      routerLink="component3">Theme</a><a routerLink="component4">About</a></h5>

</div>
