.authentication-div {

}

h5 {
  margin: 16px;
}

.route-button-active {
  width: 100%;
  padding: 0px;
  border: 1px;
  border-color: #ad055f;
  background-color: #e6097e;
  /* color: #5E2636; */
  color: azure;
}