<div class='authentication-div'>

    <ng-container *ngIf="!profileAnimationSteps[2]">
        <div [@sectionHeight]="!profileAnimationSteps[1] ? true : false" [@sectionVisibility]="!profileAnimationSteps[0] ? true : false">
            <ng-container *ngIf="!loginAnimationSteps[2]">
                <div [@sectionHeight]="!loginAnimationSteps[1] ? true : false" [@sectionVisibility]="!loginAnimationSteps[0] ? true : false">
                    <button class='route-button-active' (click)="openComponent([signupAnimationSteps, profileAnimationSteps, loginAnimationSteps])">Login</button><br>
                </div>
            </ng-container>

            <ng-container *ngIf="!signupAnimationSteps[2]">
                <div [@sectionHeight]="!signupAnimationSteps[1] ? true : false" [@sectionVisibility]="!signupAnimationSteps[0] ? true : false">
                    <button class='route-button-active' (click)="openComponent([loginAnimationSteps, profileAnimationSteps, signupAnimationSteps])">Signup</button><br>
                </div>
            </ng-container>
        </div>
    </ng-container>

    <!-- <hr> -->

    <ng-container *ngIf="loginAnimationSteps[2]">
        <div [@sectionHeight]="loginAnimationSteps[1] ? true : false" [@sectionVisibility]="loginAnimationSteps[0] ? true : false">
            <app-login [@sectionVisibility]="loginAnimationSteps[0] ? true : false" (childEvent)='catchChildEvent($event)'></app-login>
        </div>
    </ng-container>

    <ng-container *ngIf="signupAnimationSteps[2]">
        <div [@sectionHeight]="signupAnimationSteps[1] ? true : false" [@sectionVisibility]="signupAnimationSteps[0] ? true : false">
            <app-signup [@sectionVisibility]="signupAnimationSteps[0] ? true : false"></app-signup>
        </div>
    </ng-container>

    <ng-container *ngIf="profileAnimationSteps[2]">
        <div [@sectionHeight]="profileAnimationSteps[1] ? true : false" [@sectionVisibility]="profileAnimationSteps[0] ? true : false">
            <button class='route-button-active' (click)="signoutAuth()">Signout</button><br>
            <!-- <app-chat [@sectionVisibility]="profileAnimationSteps[0] ? true : false"></app-chat> -->
        </div>
    </ng-container>
    
    <!-- <app-shrink-animation>
        <app-login [@sectionVisibility]="loginAnimationSteps[0] ? true : false" (childEvent)='catchChildEvent($event)'></app-login>
    </app-shrink-animation>
    
    <app-shrink-animation>
        <app-signup [@sectionVisibility]="signupAnimationSteps[0] ? true : false"></app-signup>
    </app-shrink-animation>
    
    <app-shrink-animation>
        <app-employee [@sectionVisibility]="profileAnimationSteps[0] ? true : false"></app-employee>
    </app-shrink-animation> -->

    <!-- <hr> -->

</div>