<div class='sidebar-div'>

  <!-- <h5 style="margin: 16px;"> -->

  <button class='route-button' *ngFor="let route of routes" routerLink="{{route.link}}">{{route.name}}</button><br>

  <!-- <button class='route-button' routerLink="products">Products</button><br>
  <button class='route-button' routerLink="order">Order</button><br>
  <button class='route-button' routerLink="addproduct">Add Product</button><br>
  <button class='route-button-active' routerLink="signup">Signup</button><br>
  <button class='route-button-active' routerLink="login">Login</button><br> -->

  <!-- </h5> -->

  <br>
  <hr><br>

  <app-login></app-login>

  <br>
  <hr><br>

  <!-- <app-user-status (userStatusEvent)='catchUserStatusEvent($event)'></app-user-status>

  <h5 class="close-text">{{currentDate | date:'d/M/y'}}</h5>
  <h5 class="close-text">{{currentDate | date:'shortTime'}}</h5> -->

</div>
