<div>

  <div cdkDropListGroup>

    <!-- <div class="drag-drop-container">
        <h2>Doing</h2>
      
        <div
          cdkDropList
          #doingList="cdkDropList"
          [cdkDropListData]="doing"
          class="drag-drop-list"
          (cdkDropListDropped)="dropInDoing($event)">
          <div class="drag-drop-box" *ngFor="let chatItem of chatItems | async" cdkDrag>{{chatItem | json}}</div>
        </div>
    </div> -->

    <div class="drag-drop-container">
        <h2>Doing</h2>
        <div cdkDropList
          #doingList="cdkDropList"
          [cdkDropListData]="doing"
          class="drag-drop-list"
          (cdkDropListDropped)="dropInDoing($event)">

          <div class="drag-drop-box" *ngFor="let item of doing" cdkDrag>
              <div class="drag-drop-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
              <h3>
                {{item}}
              </h3>
            </div>

        </div>
    </div>
    
    <div class="drag-drop-container">
      <h2>To do</h2>
    
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        class="drag-drop-list"
        (cdkDropListDropped)="drop($event)">
        <div class="drag-drop-box" *ngFor="let item of todo" cdkDrag>
          <div class="drag-drop-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <h3>
            {{item}}
          </h3>
        </div>
      </div>
    </div>
      
    <div class="drag-drop-container">
      <h2>Done</h2>
    
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="drag-drop-list"
        (cdkDropListDropped)="drop($event)">
        <div class="drag-drop-box" *ngFor="let item of done" cdkDrag>
          <div class="drag-drop-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
          <h3>
            {{item}}
          </h3>
        </div>
      </div>
    </div>
      
  </div>

</div>
