<div class='content-div'>

  <app-authentication class='media-switch'></app-authentication> 

  <router-outlet></router-outlet>

  <!-- <h3>Parent App Component</h3>
  <label>Name:</label>
  <input type="text" #pname (keyup)='0' /><br>
  <label>Value:</label>
  <input type="text" #pdata (keyup)='0' /><br>
  <label>Child's Value: {{childData}}</label><br>
  <label>Users's Status: {{userStatus}}</label><br><br>

  <app-widgets></app-widgets>

  <app-prod (childEvent)='catchChildEvent($event)' [parentName]='pname.value' [parentData]='pdata.value'></app-prod>

  <app-number-identifier></app-number-identifier> -->

</div>
