/* You can add global styles to this file, and also import other style files */

/* #185d7d and #185d7d use later to fix logo */

body {
  font-family: 'Poppins', sans-serif;
  color: azure;
  /* background-color: #6E2636; */
  margin: 0px;
}

a {
  color: azure;
  text-decoration: none;
  margin: 0px 20px;
}

input {
  /* max-width: 45px; */
  border: none;
  /* background-color: antiquewhite; */
  background-color: antiquewhite;
}

select {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  border: 1px;
  border-color: #ad055f;
  background-color: #f4cbc7;
  color: #5E2636;
}

button {
  /* width: 45px; */
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  color: azure;
  /* background-color: #2e9fe3; */
  background-color: #e6097e;
}

button:active {
  background-color: #88064b;
}

.container {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 150px auto;
  grid-template-areas: 
      "nav nav"
      "sidebar content";
  width: 100vw;
  height: 100vh;
}

.nav-grid-area {
  grid-area: nav;
  background-color: #551e33;
}

.content-grid-area {
  grid-area: content;
  background-color: #3f1726;
  overflow-y: auto;
}

.sidebar-grid-area {
  grid-area: sidebar;
  background-color: #64253d;
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 150px auto;
    grid-template-areas: 
        "nav"
        "content";
    width: 100vw;
    height: 100vh;
  }

  .sidebar-grid-area {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
